:root {
    --primary-color: rgb(242, 221, 193, 0.5);
    --secondary-color: rgb(226, 194, 185, 0.5); 
}



.body {
    margin-top: 150px;
}


.main-body {
    background: var(--secondary-color);
    text-align: center;
    padding: 200px;
    margin-bottom: 30px;
}

