:root {
  --primary-color: rgb(226, 194, 185, 0.6);
  --font-color: rgb(48, 52, 54, 0.8);
  --primary-font: "Kalam", cursive;
  --secondary-font: "Comic Neue", cursive;
}

h1,
h2 {
  font-family: var(--primary-font);
  color: var(--font-color);
}

p,
.skills {
  font-family: var(--secondary-font);
  font-size: 20px;
  margin: 0 0 30px 0;
  padding: 0;
}

nav {
  z-index: 1;
}

li {
  list-style: none;
  display: inline-block;
  margin-right: 10px;
}

h6{
  text-align: center;
  font-family: var(--secondary-font);
}
.main-body {
  background: var(--primary-color);
  opacity: 0.7;
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

.fab {
  font-size: 40px;
  color:white;
}

.main-video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  object-fit: cover;
  height: 100%;
  opacity: 0.8;
}


.location-paragraph {
  font-size: 30px;
  color: white;
}

.main-about-me-paragraphs,
.main-projects-paragraphs,
.skill-list {
  border: 3px solid var(--primary-color);
  text-align: center;
  padding: 50px;
  margin-bottom: 30px;
  border-radius: 20px;
}

.main-heading {
  font-size: 70px;
  color: white;
}

.main-image {
  border-radius: 100%;
  opacity: 0.9;
  margin-top: 50px;
  margin-bottom: 15px;
}

.welcome{
  position: relative;
  z-index: 1;
  color: white;
  margin: 350px auto;
  padding: 70px;
  text-align: center;
}

.btn {
  background-image: url(/images/water-color.jpg);
  padding: 10px 40px;
  text-align: center;
  font-family: var(--secondary-font);
  border-radius: 100px;
}

.btn:hover {
  background: white;
  border: 1px solid black;
}

@media (max-width: 800px) {
  .skills li{
    display: inline;
    
  }
  
}